@import 'variables';
@import 'common-styles';

.Illustration1 {
    padding-top: 50px;

    .row {
        .col-md-6 {
            h1 {
                font-weight: 500;
                font-size: 45px;

                span {
                    font-weight: 700;
                }
            }

            p {
                font-weight: 400;
                color: $subtext-color;
                font-size: 15px;
                line-height: 30px;
                padding-top: 20px;

                span {
                    font-weight: 500;
                }
            }
        }

        padding-bottom: 50px;
    }

    .countUsers {
        padding-top: 50px;
        box-shadow: 0 31px 43px rgba(2, 0, 4, .2);

        .row {
            display: flex;

            .col-md-4 {
                display: flex;
                justify-content: center;
                gap: 10px;
                position: relative;
                padding: 0 20px;

                img {
                    width: 40px;
                    height: 50px;
                }

                h1 {
                    font-weight: 700;
                    font-size: 20px;
                    color: $text-color;
                    text-align: center;
                    margin: 0;
                }

                &::after {
                    content: "";
                    width: 2px;
                    height: 100px;
                    background-color: $grey-color;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 9999;
                }

                &:last-child::after {
                    display: none;
                }
            }
        }
    }
}

// Illustration 2
.Illustration2 {
    padding-top: 50px;
    padding-bottom: 50px;

    .row {
        .col-md-5 {
            h2 {
                font-weight: 500;
                font-size: 40px;
                color: $text-color;
            }

            p {
                font-size: 14px;
                color: $subtext-color;
                line-height: 30px;
            }
        }
    }
}