
// Plans
.plans {
    padding-top: 50px;
    padding-bottom: 50px;

    .card {
        border: 1px solid $border-color;
        min-height: 718px;
        min-width: 240px;

        &.active {
            border: 1px solid $primary-color;
        }

        img {
            width: 100px;
        }

        .item {
            img {
                width: 30px;
            }
        }
    }
}