// _variables.scss

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$primary-color: #F53838;
$secondary-color: #FEA250;
$text-color: #0B132A;
$subtext-color: #4F5665;
$background-color: #FBFCFC;
$border-color: #DDDDDD;
$highlight-color: #FF6F61;
$shadow-color: rgba(245, 56, 56, 0.35);
$grey-color: #eceaea;
$light-grey-color: #F6F6F7;
$inactive-color: #AFB5C0;